@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

$color1:rgb(34, 34, 34);
$color2: rgb(70, 70, 70);
$color3:rgb(25, 25, 25);
$color4:rgb(61, 26, 64);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62,5%;
}

body {
    font-family: "Fira Code", sans-serif;
    color: white;
}

header {

    display: flex;
    padding: 10px;
    column-gap: 7px;
    background-color: $color2;
    height: 36px;

    div {
        width: 16px;
        height: 16px;
        border-radius: 10px;

        &:nth-child(1) {
            background-color: #00C700;
        }
        &:nth-child(2) {
            background-color:#C78F00;
            ;
        }
        &:nth-child(3) {
            background-color:#C70000;
        }
    }
}

main {
    display: grid;
    grid-auto-flow: column;
    height: auto;
    
    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 40px;
        font-weight: 900;
        color: white;
    }
    #content {
        background-color: $color1;
        padding: 60px 250px 70px 60px;
        
        #logo { 
            position: relative;
            left: -135px;
            display:flex;
            align-items: center;
            column-gap: 30px;
        }

        #programming {
            display: flex;
            text-align: justify;
            column-gap: 50px;
            padding-top: 100px
        }
    };
    #donate {
        background-color: $color2;
        padding: 110px 250px 70px 60px;

        aside {
            display: flex;
            column-gap: 50px;
            font-size: 22px;
        }
        h2 {
            font-family: "Montserrat", sans-serif;
        }

        #h2-donate {
            margin-top: -50px; 
            padding-bottom: 50px
        }

        #doe {
            padding: 50px 0 50px 0px;
            
        }

        #text {
            text-align: left;
        }


    };
    #empty-color3 {
        background-color: $color3;
        width: 20vw;
        height: 100%;
    }
}

.center {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding-top: 60px;
    font-size: 22px;
    font-weight: 400;
}

.links-social {
    column-gap: 5px;
    display: flex;
    align-items: center;
}

span {
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color:white;
}

footer {
    font-family:"Montserrat" sans-serif;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: $color4;
    height: 200px;
    padding:50px 0 200px 25vw;
}